<section class="w3l-main-banner" id="home">
    <div class="companies20-content">
        <div class="companies-wrapper">
            <div class="item">

                <div class="slider-info banner-view text-center">
                    <div class="banner-info container">
                        <img src="~/Templates/my_website-starter/assets/images/c1.jpg" alt="about image" class="img-fluid">
                        <h3 class="banner-text mt-5">
                            Merhaba, ben Murat Yücedağ
                        </h3>
                        <p class="my-4 mb-5">Yazılım Mühendisi</p><br>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
