<div class="column2">
    <h3 class="mb-5">Eğitim Hayatım</h3>
    <div class="experience-top">
        <h5>2010</h5>
        <h4>Master of Design, University of California</h4>
        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
    </div>
    <div class="experience-top">
        <h5>2007</h5>
        <h4>Bachelor of Arts, Standford University</h4>
        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
    </div>
    <div class="experience-top">
        <h5>2004</h5>
        <h4>Specialize App Design, Harvard University</h4>
        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
    </div>
</div>
