<section class="services-12" id="experience">
    <div class="form-12-content">
        <div class="container">
            <div class="grid grid-column-2 ">

                <div class="column1">
                    <h3 class="mb-5">Deneyimlerim</h3>
                    <div class="experience-top">
                        <h5>2018 - now</h5>
                        <h4>Fulltime Freelancer</h4>
                        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                    </div>
                    <div class="experience-top">
                        <h5>2014 - 2017</h5>
                        <h4>Creative Director at Pixar Studio</h4>
                        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                    </div>
                    <div class="experience-top">
                        <h5>2010 - 2014</h5>
                        <h4>Web Designer at Microsoft</h4>
                        <p class="my-3 text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                    </div>
                </div>
                @Html.Action("EducationPartial")
            </div>
        </div>
    </div>
</section>
