<section class="w3l-feature-3" id="features">
    <div class="grid top-bottom">
        <div class="container">
            <div class="heading text-center mx-auto">
                <h3 class="head text-white">I'm Available For Hire</h3>
                <p class="my-3 head text-white">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>
            <div class="middle-section grid-column text-center mt-5 pt-3">
                <div class="three-grids-columns">
                    <span class="fa fa-paint-brush"></span>
                    <h4>Design</h4>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>

                </div>
                <div class="three-grids-columns">
                    <span class="fa fa-ils"></span>
                    <h4>Marketing</h4>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>

                </div>
                <div class="three-grids-columns">
                    <span class="fa fa-camera"></span>
                    <h4>Photography</h4>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>

                </div>
            </div>
        </div>
    </div>
</section>
