@using Project_Personal_Demo.Models
@model List<TblImage>

<div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head">Projelerimden Görseller</h3>
                <p class="my-3 head">
                    @ViewBag.v
                </p>
            </div>
            <input id="tab1" type="radio" name="tabs" checked>
            <label class="tabtle" for="tab1">C# Projelerim</label>

            <input id="tab2" type="radio" name="tabs">
            <label class="tabtle" for="tab2">Mvc Projelerim</label>

            <input id="tab3" type="radio" name="tabs">
            <label class="tabtle" for="tab3">.Net Core & 6.0 Projelerim</label>

            <input id="tab4" type="radio" name="tabs">
            <label class="tabtle" for="tab4">Api Projelerim</label>

            <section id="content1" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <a href="@item.ImageUrl" data-lightbox="example-set"
                               data-title="@item.ImageDescription">
                                <figure>
                                    <img src="@item.ImageUrl" class="img-responsive" alt="" />
                                </figure>
                            </a>
                        </div>
                    }
                </div>
            </section>

            <section id="content2" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="assets/images/g7.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g7.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g8.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g8.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g1.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g1.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g2.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g2.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g3.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g3.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g4.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g4.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>

            <section id="content3" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="assets/images/g5.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g5.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g6.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g6.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g7.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g7.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>

            <section id="content4" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="assets/images/g8.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g8.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                    <div class="product">
                        <a href="assets/images/g1.jpg" data-lightbox="example-set"
                           data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="~/Templates/my_website-starter/assets/images/g1.jpg" class="img-responsive" alt="" />
                            </figure>
                        </a>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Products4 block -->
</div>

<script src="~/Templates/my_website-starter/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Templates/my_website-starter/assets/js/lightbox-plus-jquery.min.js"></script>