<section class="w3l-testimonials" id="testimonials">
    <div class="customers-6-content py-5">
        <div class="container py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Bizim için ne dediler</h3>
                <p class="my-3 head ">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>

            <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#customerhnyCarousel" data-slide-to="1"></li>

                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner pb-5">

                    <div class="carousel-item active">
                        <div class="customer row py-5 mt-3">
                            <div class="col-lg-4 col-md-6">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c1.jpg" alt="">
                                        <h3 class="card-title mt-2">Henry Nicholas</h3>
                                        <p class="sub-title mb-3">Photographer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 off-testi-2">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c2.jpg" alt="">
                                        <h3 class="card-title mt-2">Mark Waugh</h3>
                                        <p class="sub-title mb-3">Web Designer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c3.jpg" alt="">
                                        <h3 class="card-title mt-2">Sarina Willams</h3>
                                        <p class="sub-title mb-3">Graphic Designer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="customer row py-5 mt-3">
                            <div class="col-lg-4 col-md-6">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c2.jpg" alt="">
                                        <h3 class="card-title mt-2">Mark Waugh</h3>
                                        <p class="sub-title mb-3">Engineer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 off-testi-2">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c3.jpg" alt="">
                                        <h3 class="card-title mt-2">Sarina Willams</h3>
                                        <p class="sub-title mb-3">Engineer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                <div class="card">

                                    <div class="card-body">
                                        <img class="card-img-top img-responsive" src="~/Templates/my_website-starter/assets/images/c1.jpg" alt="">
                                        <h3 class="card-title mt-2">Henry Nicholas</h3>
                                        <p class="sub-title mb-3">Engineer</p>
                                        <p class="card-text">
                                            "Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore"
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--.carousel-inner-->
            </div>
        </div>
    </div>
    <!--//customers -->
</section>
