<section class="w3l-specifications-9">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-md-3">

            <div class="main-cont-wthree-fea row ">
                <div class="grids-speci1 col-lg-3 col-6">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">@ViewBag.v1</h3>
                        <p>Yetenek Sayısı</p>
                    </div>
                </div>
                <div class="grids-speci1 midd-eff-spe col-lg-3 col-6">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">@ViewBag.v2</h3>
                        <p>C# Projeleri</p>
                    </div>
                </div>
                <div class="grids-speci1 las-but col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">@ViewBag.v3</h3>
                        <p>Son Çalışılan Firma</p>
                    </div>
                </div>
                <div class="grids-speci1 las-t col-lg-3 col-6  mt-lg-0 mt-4">
                    <div class="spec-2 text-center">

                        <h3 class="title-spe">@ViewBag.v4 </h3>
                        <p>Eğitmenlik Sayısı</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //specifications -->
</section>
