<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Website a Personal Portfolio Category Bootstrap Responsive Website Template | Services :: W3layouts</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>


<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-3 py-2">
    <div class="container">
      <a class="navbar-brand" href="index.html"> My Website</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
         
        
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</section>
<section class="w3l-service-breadcrum">
  <div class="breadcrum-bg">
    <div class="container py-5">
      <p><a href="index.html">Home</a> &nbsp; / &nbsp; Services</p>
      </div>
  </div>
</section>
<section class="w3l-features-4">
	<!-- /features -->
		<div class="features py-5" id="services">
            <div class="container py-md-3">
			<div class="heading text-center mx-auto">
				<h3 class="head">My Services</h3>
				<p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				  Nulla mollis dapibus nunc, ut rhoncus
				  turpis sodales quis. Integer sit amet mattis quam.</p>
			  </div>
			<div class="fea-gd-vv row mt-5 pt-3">	
			   <div class="float-lt feature-gd col-lg-4 col-md-6">	
					 <div class="icon"> <span class="fa fa-code" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Website Design</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">	
					 <div class="icon"> <span class="fa fa-cogs" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Web Development
						</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">	
					 <div class="icon"> <span class="fa fa-mobile" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">App Development</a></h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>	 
			 <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-lock" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Cyber Security</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-bar-chart" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">
							Digital Marketing</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">	
					 <div class="icon"> <span class="fa fa-info" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5><a href="#">Other Catagory</a>
						</h5>
						<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
						<a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
			 </div>		 				 
		  </div>  
		 </div>
	   </div>
   <!-- //features -->
</section>
<section class="w3l-pricing-7" id="pricing">
  <div class="w3l-pricing-7_sur py-5">
    <div class="container py-md-3">
      <div class="heading text-center mx-auto">
        <h3 class="head">See Our Packages</h3>
        <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row w3l-pricing-7-gd-top pt-3 mt-5">
        <div class="col-lg-4 col-md-6 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7  pric-7-1">
            <h6>Personal</h6>
            
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Lifetime Usage
                  </li>
                  <li class="tick-info">
                    3 Months Support & Updates
                  </li>
                  <li class="tick-info">
                    1 Website License
                  </li>
                  <li class="tick-info">
                    Quickstart Included
                  </li>
                  <li class="tick-info">
                    Access to Templates & Extensions
                  </li>
                  <li class="tick-info">
                    Branding/Copyright Removal
                  </li>
                </ul>
                <h3 class="title-sub mt-4">$199.00</h3>
              </div>
              <div class="buy-button text-center mt-4">
                 <a href="contact.html" class="btn btn-secondary btn-theme5">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4 w3l-pricing-7-gd-left active">
          <div class="w3l-pricing-7 pric-7 active">
            <h6 class="active">Advance</h6>
          
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Lifetime Usage
                  </li>
                  <li class="tick-info">
                    3 Months Support & Updates
                  </li>
                  <li class="tick-info">
                    1 Website License
                  </li>
                  <li class="tick-info">
                    Quickstart Included
                  </li>
                  <li class="tick-info">
                    Access to Templates & Extensions
                  </li>
                  <li class="tick-info">
                    Branding/Copyright Removal
                  </li>
                </ul>
                <h3 class="title-sub mt-4 active">$299.00</h3>
              </div>
              <div class="buy-button text-center mt-4">
                <a href="contact.html" class="btn btn-secondary btn-theme5 active">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <h6>Platinum</h6>
            
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    Lifetime Usage
                  </li>
                  <li class="tick-info">
                    3 Months Support & Updates
                  </li>
                  <li class="tick-info">
                    1 Website License
                  </li>
                  <li class="tick-info">
                    Quickstart Included
                  </li>
                  <li class="tick-info">
                    Access to Templates & Extensions
                  </li>
                  <li class="tick-info">
                    Branding/Copyright Removal
                  </li>
                </ul>
                <h3 class="title-sub mt-4">$399.00</h3>
              </div>
              <div class="buy-button text-center mt-4">
                <a href="contact.html" class="btn btn-secondary btn-theme5">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
 <!-- grids block 5 -->
 <section class="w3l-footer-29-main" id="footer">
  <div class="footer-29 text-center">
      <div class="container">
        
        <div class="main-social-footer-29">
                    
          <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
          <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
          <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
          <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
          <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
      </div>
          <div class="bottom-copies text-center">
              <p class="copy-footer-29">© 2020 My Website. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
               
          </div>
      </div>
  </div>
   <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
              <span class="fa fa-angle-up"></span>
                 </button>
                 <script>
                     // When the user scrolls down 20px from the top of the document, show the button
                     window.onscroll = function () {
                         scrollFunction()
                     };
              
                     function scrollFunction() {
                         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                             document.getElementById("movetop").style.display = "block";
                         } else {
                             document.getElementById("movetop").style.display = "none";
                         }
                     }
              
                     // When the user clicks on the button, scroll to the top of the document
                     function topFunction() {
                         document.body.scrollTop = 0;
                         document.documentElement.scrollTop = 0;
                     }
                 </script>
                 <!-- /move top -->
</section>
<!-- // grids block 5 -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- //footer-28 block -->
</section>

<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

<!-- Smooth scrolling -->



</body>

</html>
<!-- // grids block 5 -->

